ion-card {
  height: 600px;
  text-align: center;
}

#link-login {
  font-size: 11px;
  margin-top: -6px;
}

div {
  margin-top: 16px;
}

ion-button {
  margin-top: 33px;
  padding-left: 4%;
  padding-right: 4%;
}

