ion-title {
  font-size: 27px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 40%;
  color: #9A8E8E;
}

#emoji-triste {
  margin-top: 5%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
