<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notícias salvas
    </ion-title>
    <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notícias salvas</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="posts-salvos">
  <h1>Nenhuma postagem salva</h1>
  <ion-img id="emoji-triste" src="/assets/img/emoji-triste.png"></ion-img>
</div>

</ion-content>
