<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Erro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botão de voltar para o início -->
  <ion-button (click)="voltarLogin()" size="small" fill="clear">
    <ion-icon slot="start" name="chevron-back"></ion-icon>
    Voltar
  </ion-button>

    <div id="container">
      <ion-card-title>Ops!</ion-card-title>
      <label>Houve um erro na autenticação. Tente novamente.</label>
    </div>
</ion-content>
