ion-content {
    font-family: "Quicksand", sans-serif;
}

#container {
    height: 30%;
    width: 100%;
    display: block;
    text-align: center;
}

ion-card-title {
    margin-top: 13%;
    margin-bottom: 7%;
}
